@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.itemContainer {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

  margin: 1%;
  width: fit-content;
  max-width: 40rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1% 2% 1% 2%;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}

.itemContainer:hover {
  cursor: pointer;
}

.bio {
    transition: 0.3s;
    border-radius: 5px;
    padding: 0% 2% 0% 2%;
}

.bio:hover {
    background-color: grey;
    opacity: 0.6;
    cursor: text;
}



