@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.itemContainer {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

  margin: 5rem auto;
  width: 90%;
  max-width: 40rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1% 2% 1% 2%;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}

.bio {
    border-radius: 5px;
    padding: 0% 2% 0% 2%;
}

